/* Navbar */
a {
  text-decoration: none;
  color: white;
}

.navbar {
  background: lightseagreen;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-pizzeria{
  display: flex;
  flex-direction: row;
}

.logo-carrito{
  display: flex;
  flex-direction: row;
}

.banner{
  background-image: url("/src/pizza-banner.jpeg");
  background-size: cover;
  background-position: center;
  color: white;
  opacity: 0.8;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.pizza-card{
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: left;
}

.card-body{
  padding: 10px;
  background: #fff;
}

.card-title{
  margin-top: 0;
  color: #333;
}

.card-title p{
  margin-top: 0;
  color: #333;
}

.ingredients {
  list-style: none;
  padding: 0;
}

.ingredients li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 5px;
}

.ingredients li:before {
  content: "🍕";
  left: 0;
  top: 0;
}

.card-price{
  text-align: center;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.view {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size:large;
}

.add {
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size:large;

}

.btn:hover {
  background-color: white;
}


.containerDetail{
  text-align: left;
}

.ingredientsDetail {
  list-style: none;
  padding: 0;
}

.ingredientsDetail li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 5px;
}

.ingredientsDetail li:before {
  content: "🍕";
  left: 0;
  top: 0;
}

.precio-opcion-detail{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

.container-carrito{
  margin-top: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ghostwhite;
  width: 100%;
  height: 400px;
}

.detail-carrito{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  background-color: white;
}

.detail-carrito-pizza{
  display: flex;
  flex: row;
  align-items: center;
}

.detail-carrito-cantidades{
  display: flex;
  flex: row;
  align-items: center;

}